body {
    font-family: 'Playfair Display', serif;
    background-color: rgb(242, 237, 228);
}

header, main {
    width: 900px;
    margin: 40px auto 0 auto;
}


.logo{
    display: inline-block;
    width: 320px;
}

.logo > h1 {
    font-size: 40px;    
    border-bottom: 1px solid black;
}
.logo > h2 {
    font-size: 15px;
    letter-spacing: 8px;
}

/* jobbra igazitva */
.menu-container{
    float: right;
}

.menu {
    list-style: none;
}
.menu-item {
    display: inline-block;
    margin-top: 35px;
    padding: 0 25px;
}
.menu-item:nth-child(1) {
    border-bottom: 4px solid red;
}

.menu-item:nth-child(2) {
    border-bottom: 4px solid lightblue;
}

.menu-item:nth-child(3) {
    border-bottom: 4px solid plum;
}

.menu-item:nth-child(4) {
    border-bottom: 4px solid green
}

.menu-item:nth-child(5) {
    border-bottom: 4px solid yellow;
}

.menu-item a {
    text-decoration: none;
    color: black;
}

.menu-item:hover {
    border-bottom: 4px solid black;
}

.main-article {
    margin-top: 40px;
    position: relative;
}

.main-article-content > h1 {
    font-size: 35px;
    padding: 15px 15px 5px 15px;
}

.main-article-content > h2 {
    background-color: rgba(0, 0, 0, 0.767);
    color: white;
    line-height: 1.5;
}
.main-article-content p {
    width: 700px;
}

.crop {
    height: 500px;
    overflow: hidden;
}

.main-article-image {
    width: 100%;
    
}

/* positioning!!!!! */
.main-article {
}
.corp
{
    position: relative;
}
.main-article-content {
    position: absolute;
    top: 270px;
    margin-left: 10px;
}

.tag a{
    color: white;
    padding: 5px;
}

.tag-politics a {
    background-color: red;
}

.tag-sports a {
    background-color: green;
}

.tag-politics {
}
.continue-to-article{
    background-color: blue;
    color: white;
    margin-top: -32px;
}
.continue-to-article a {
    color: white;
    float: right;
    background-color: blue;
    position: absolute;
    right: 0;
    text-decoration: none;
    bottom: -12px;
}
.line
{
    background-color: rgba(0, 0, 0, 0.767);
    color: white;
    margin: 0 0;
    width: 400px;
    
}
.line2
{
    margin-top: 0;
    margin-bottom: 
}

.article-half-width {
    margin-top: 20px;
}

.half-width-crop{
    height: 200px;
    overflow: hidden;
}

.article-half-width .tag{
    margin-top: -25px;
}
.article-half-width h1, .article-half-width h2 {
    padding: 0;
    margin: 0;
}
.article-half-width h2 {
}
.article-half-width {
    width: 45%;
    background-color: #e2e2e2;
}

/* jobra */
.article-right {
    float: right;
}
/* balra */
.article-left {
    float: left;
}
